@charset "UTF-8";
/*ブレイクポイントを指定*/
/*バックグラウンド用カラー変数*/
/*フォント用カラー変数*/
/*
font-family.font-family.font-family.font-family.font-family.font-family.font-family.
font-family.font-family.font-family.font-family.font-family.font-family.font-family.
*/
/*フォントサイズ一覧*/
/*とりあえずはヘッダー内のフォントサイズを変数に置き換える*/
/*
header内フォントサイズ一覧header内フォントサイズ一覧header内フォントサイズ一覧
header内フォントサイズ一覧header内フォントサイズ一覧header内フォントサイズ一覧
*/
/*clampを使用した変数。もう少し学習が必要*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*
mainvisual内フォントサイズ一覧mainvisual内フォントサイズ一覧mainvisual内フォントサイズ一覧
mainvisual内フォントサイズ一覧mainvisual内フォントサイズ一覧mainvisual内フォントサイズ一覧
*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*
content内フォントサイズ一覧content内フォントサイズ一覧content内フォントサイズ一覧
content内フォントサイズ一覧content内フォントサイズ一覧content内フォントサイズ一覧

*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*
archive-heading内フォントサイズ一覧archive-heading内フォントサイズ一覧archive-heading内フォントサイズ一覧
archive-heading内フォントサイズ一覧archive-heading内フォントサイズ一覧archive-heading内フォントサイズ一覧
*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*
single内フォントサイズ一覧single内フォントサイズ一覧single内フォントサイズ一覧
single内フォントサイズ一覧single内フォントサイズ一覧single内フォントサイズ一覧
*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*
card内フォントサイズ一覧card内フォントサイズ一覧card内フォントサイズ一覧
card内フォントサイズ一覧card内フォントサイズ一覧card内フォントサイズ一覧
*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*
sidebar内フォントサイズ一覧sidebar内フォントサイズ一覧sidebar内フォントサイズ一覧
sidebar内フォントサイズ一覧sidebar内フォントサイズ一覧sidebar内フォントサイズ一覧
*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*
access内フォントサイズ一覧access内フォントサイズ一覧access内フォントサイズ一覧
access内フォントサイズ一覧access内フォントサイズ一覧access内フォントサイズ一覧
*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*
pager内フォントサイズ一覧pager内フォントサイズ一覧pager内フォントサイズ一覧
pager内フォントサイズ一覧pager内フォントサイズ一覧pager内フォントサイズ一覧
*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*
single-list内フォントサイズ一覧single-list内フォントサイズ一覧single-list内フォントサイズ一覧
single-list内フォントサイズ一覧single-list内フォントサイズ一覧single-list内フォントサイズ一覧
*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*
code内フォントサイズ一覧code内フォントサイズ一覧code内フォントサイズ一覧
code内フォントサイズ一覧code内フォントサイズ一覧code内フォントサイズ一覧
*/
/*スマートフォン用*/
/*タブレット用*/
/*パソコン用*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*以下追加*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

dl, dd {
  margin: 0;
}

.c-grid {
  overflow-x: hidden;
  display: grid;
  grid-template: "header sidebar" 217px "figure   sidebar" auto "main    sidebar" auto "access  sidebar" auto "page    sidebar" auto "footer   sidebar" 150px/100% 100%;
}
@media screen and (min-width: 1080px) {
  .c-grid {
    overflow-x: visible;
    grid-template: "header  sidebar" 12vw "figure   sidebar" auto "main    sidebar" auto "access  sidebar" auto "page    sidebar" auto "footer   footer" 150px/80% 20%;
  }
}
.c-grid--header {
  grid-area: header;
}
.c-grid--mainvisual {
  grid-area: figure;
  margin: 0;
}
.c-grid--contents {
  grid-area: main;
  padding: 8%;
}
@media screen and (min-width: 600px) {
  .c-grid--contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8% 6%;
  }
}
@media screen and (min-width: 1080px) {
  .c-grid--contents {
    padding: 10% 6%;
  }
}
.c-grid--archive, .c-grid--main {
  grid-area: main;
  padding: 8%;
}
@media screen and (min-width: 600px) {
  .c-grid--archive, .c-grid--main {
    padding: 8% 6%;
  }
}
@media screen and (min-width: 1080px) {
  .c-grid--archive, .c-grid--main {
    padding: 4% 6%;
  }
}
.c-grid--sidebar {
  grid-area: sidebar;
  width: 100%;
  height: 100%;
  background-color: #f2ede9;
}
.c-grid--access {
  grid-area: access;
}
.c-grid--pager {
  grid-area: page;
}
.c-grid--footer {
  grid-area: footer;
  background-color: #96806b;
}

.c-input {
  width: 50vw;
  border-radius: 10px;
  border: 1px solid #707070;
  padding-left: 28px;
}
@media screen and (min-width: 1080px) {
  .c-input {
    width: 20vw;
    border-radius: 9px;
    padding-left: 22px;
  }
}

.c-btn {
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-weight: 700;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0ebe7), to(#dfd9d4));
  background: linear-gradient(#f0ebe7, #dfd9d4);
  border: 1px solid #707070;
}

.c-image {
  max-width: 100%;
  vertical-align: bottom;
}

.c-white-box {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 3% 3% 3%;
}

.c-text {
  font-size: 1.25vw;
  line-height: 1.4;
  overflow: hidden;
}

.c-title {
  font-size: 8vw;
}

.c-shadow {
  background-color: rgba(112, 112, 112, 0.9);
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  left: -100%;
  z-index: 10;
}

.c-background {
  background-color: rgba(112, 112, 112, 0.9);
}

@media screen and (min-width: 600px) {
  .c-page {
    padding: 1vw 1.5vw;
    border: 1px solid;
    text-decoration: none;
  }
}
@media screen and (min-width: 600px) and (min-width: 1080px) {
  .c-page {
    padding: 0.5vw 0.8vw;
  }
}

.c-bg-gray {
  background-color: #f5f5f5;
  margin: 0;
  padding: 5vw;
}

.c-link {
  text-decoration: underline;
}

.c-heading {
  display: block;
  margin: 6vw 0;
}

/*mainvisualのグリッド配置*/
.p-grid--mainvisual {
  display: grid;
  grid-template: "image" auto/auto;
}

.p-mainvisual--image {
  grid-area: image;
}

.p-mainvisual--inner {
  grid-area: image;
}

/*articleのグリッド配置*/
.p-grid--article {
  display: grid;
  grid-template: "article" auto/auto;
}

.p-content__image {
  grid-area: article;
}

.p-content__heading {
  grid-area: article;
}

.p-content__box {
  grid-area: article;
}

/*accessのグリッド配置*/
.p-grid--access {
  display: grid;
  grid-template: "access" auto/auto;
}

.p-access__map--sp {
  grid-area: access;
}

.p-access__map--tab {
  grid-area: access;
}

.p-access__map--pc {
  grid-area: access;
}

.p-access__background {
  grid-area: access;
}

.p-access__inner {
  grid-area: access;
}

.p-grid--sidebar {
  display: grid;
  grid-template: "sidebar" auto/auto;
  position: relative;
}

.c-shadow {
  grid-area: sidebar;
}

.p-sidebar {
  grid-area: sidebar;
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  background-color: #fff7ef;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (min-width: 1080px) {
  .p-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.p-header__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2vw;
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-size: 4vw;
  font-weight: 700;
}
@media screen and (min-width: 600px) {
  .p-header__btn {
    font-size: min(3vw, 25px);
  }
}
@media screen and (min-width: 1080px) {
  .p-header__btn {
    font-size: 0;
  }
}
.p-header__heading {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #707070;
  font-size: clamp(16px, (1rem + 5vw), 50px);
}
@media screen and (min-width: 1080px) {
  .p-header__heading {
    margin: auto;
    text-align: left;
    margin-left: 20px;
  }
}

.p-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-search::before {
    font-size: 2.5vw;
    margin-top: -1.25vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 38px;
    font-size: 16px;
  }
  .p-search::before {
    font-size: 1vw;
    margin-top: -0.5vw;
  }
}
.p-search__btn {
  width: 18vw;
  margin: 0 10px;
}
@media screen and (min-width: 1080px) {
  .p-search__btn {
    width: 7vw;
    border-radius: 9px;
    margin-right: 30px;
  }
}
.p-search::before {
  display: block;
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 700;
  color: #707070;
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 20px;
  margin-top: -10px;
}

.p-mainvisual--image--sp {
  display: block;
}
@media screen and (min-width: 600px) {
  .p-mainvisual--image--sp {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .p-mainvisual--image--sp {
    display: none;
  }
}
.p-mainvisual--image--tab {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-mainvisual--image--tab {
    display: block;
  }
}
@media screen and (min-width: 1080px) {
  .p-mainvisual--image--tab {
    display: none;
  }
}
.p-mainvisual--image--pc {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-mainvisual--image--pc {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .p-mainvisual--image--pc {
    display: block;
  }
}
.p-mainvisual--inner {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
@media screen and (min-width: 600px) {
  .p-mainvisual--inner {
    padding: 5% 10%;
  }
}
@media screen and (min-width: 1080px) {
  .p-mainvisual--inner {
    padding: 5%;
  }
}
.p-mainvisual--ttl {
  font-size: 8vw;
}
@media screen and (min-width: 600px) {
  .p-mainvisual--ttl {
    font-size: 7vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-mainvisual--ttl {
    font-size: 3vw;
  }
}
.p-mainvisual--text {
  font-size: 3.5vw;
}
@media screen and (min-width: 600px) {
  .p-mainvisual--text {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-mainvisual--text {
    font-size: 1vw;
  }
}

.p-content__image {
  width: 100%;
}
.p-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.p-content__heading {
  padding: 5%;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 7vw;
}
@media screen and (min-width: 600px) {
  .p-content__heading {
    font-size: 4vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-content__heading {
    font-size: 3vw;
  }
}
.p-content__heading::before {
  display: inline-block;
  content: "";
  width: 9vw;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 5%;
  top: 13%;
}
@media screen and (min-width: 600px) {
  .p-content__heading::before {
    width: 4.5vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-content__heading::before {
    height: 3px;
  }
}
.p-content__inner {
  padding: 5%;
  height: 35vw;
}
@media screen and (min-width: 600px) {
  .p-content__inner {
    height: 25vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-content__inner {
    height: 11vw;
    padding: 3%;
  }
}
.p-content__inner__ttl {
  margin-bottom: 3%;
  font-size: 5vw;
  font-weight: 700;
}
@media screen and (min-width: 600px) {
  .p-content__inner__ttl {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-content__inner__ttl {
    font-size: 1.5vw;
  }
}
.p-content__inner__text {
  height: 20vw;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  line-height: 1.4;
  font-size: 3vw;
}
@media screen and (min-width: 600px) {
  .p-content__inner__text {
    font-size: 1.6vw;
    height: 13vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-content__inner__text {
    font-size: 1vw;
    height: 7vw;
  }
}

.p-sidebar {
  width: 86%;
  background-color: #f2ede9;
  height: 100%;
  padding: 20% 15%;
  position: absolute;
  right: 0%;
  z-index: 200;
}
@media screen and (min-width: 600px) {
  .p-sidebar {
    width: 43%;
    padding: 10% 5%;
  }
}
@media screen and (min-width: 1080px) {
  .p-sidebar {
    width: 100%;
    padding: 10%;
  }
}
.p-sidebar__esc {
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 20px;
  right: 20px;
}
@media screen and (min-width: 1080px) {
  .p-sidebar__esc {
    display: none;
  }
}
.p-sidebar__esc::before, .p-sidebar__esc::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 30px;
  background: #616161;
}
.p-sidebar__esc::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.p-sidebar__esc::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.p-sidebar__menu {
  position: relative;
  padding: 10% 5%;
  z-index: 100;
}
@media screen and (min-width: 600px) {
  .p-sidebar__menu {
    padding: 5% 2.5%;
  }
}
@media screen and (min-width: 1080px) {
  .p-sidebar__menu {
    padding: 5% 2.5%;
  }
}
.p-sidebar__menu__item {
  color: #707070;
  margin: 10% 0;
  font-size: 4vw;
}
@media screen and (min-width: 600px) {
  .p-sidebar__menu__item {
    margin: 5% 0;
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-sidebar__menu__item {
    margin: 12% 2%;
    font-size: 1vw;
  }
}
.p-sidebar__heading--main {
  font-family: "Roboto", sans-serif;
  color: #707070;
  visibility: hidden;
}
@media screen and (min-width: 1080px) {
  .p-sidebar__heading--main {
    visibility: visible;
    margin: 15% 0 30% 0;
    font-size: 2vw;
  }
}
.p-sidebar__heading--secondary {
  color: #707070;
  font-size: 5vw;
}
@media screen and (min-width: 600px) {
  .p-sidebar__heading--secondary {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-sidebar__heading--secondary {
    font-size: 1.4vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-sidebar--shadow {
    display: none;
  }
}

.p-access__map--sp {
  display: block;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .p-access__map--sp {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .p-access__map--sp {
    display: none;
  }
}
.p-access__map--tab {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-access__map--tab {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1080px) {
  .p-access__map--tab {
    display: none;
  }
}
.p-access__map--pc {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-access__map--pc {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .p-access__map--pc {
    display: block;
    width: 100%;
  }
}
.p-access__inner {
  padding: 7%;
}
@media screen and (min-width: 600px) {
  .p-access__inner {
    padding: 4%;
  }
}
@media screen and (min-width: 1080px) {
  .p-access__inner {
    padding: 10% 10% 0 10%;
    width: 100%;
  }
}
.p-access__inner__ttl {
  padding: 5% 0;
  position: relative;
  margin-bottom: 20px;
  z-index: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 7vw;
}
@media screen and (min-width: 600px) {
  .p-access__inner__ttl {
    padding: 0;
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-access__inner__ttl {
    margin-bottom: 60px;
    font-size: 1.75vw;
  }
}
.p-access__inner__ttl::before {
  display: inline-block;
  content: "";
  width: 18vw;
  height: 0.2vh;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media screen and (min-width: 600px) {
  .p-access__inner__ttl::before {
    width: 9vw;
    bottom: -15px;
  }
}
@media screen and (min-width: 1080px) {
  .p-access__inner__ttl::before {
    width: 3vw;
    bottom: -35px;
  }
}
.p-access__inner__text {
  height: 55vw;
  width: 100%;
  line-height: 2.35;
  overflow: hidden;
  font-size: 4vw;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
@media screen and (min-width: 600px) {
  .p-access__inner__text {
    height: 32vw;
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-access__inner__text {
    height: 19vw;
    min-height: 150px;
    font-size: 1vw;
  }
}
.p-access__background {
  height: 50%;
}
@media screen and (min-width: 600px) {
  .p-access__background {
    height: 100%;
  }
}
@media screen and (min-width: 1080px) {
  .p-access__background {
    width: 60%;
  }
}

.p-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../image/png/footer.png);
}
.p-footer__box {
  margin-bottom: 20px;
}
.p-footer__info {
  font-size: 20px;
  color: #fff;
  display: inline-block;
}
.p-footer__cr {
  font-size: 14px;
  color: #fff;
}

.p-card {
  margin: 20px 0;
}
@media screen and (min-width: 600px) {
  .p-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.p-card__image--sp {
  display: block;
}
@media screen and (min-width: 600px) {
  .p-card__image--sp {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .p-card__image--sp {
    display: none;
  }
}
.p-card__image--tab {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-card__image--tab {
    display: block;
    width: 50%;
  }
}
@media screen and (min-width: 1080px) {
  .p-card__image--tab {
    display: none;
  }
}
.p-card__image--pc {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-card__image--pc {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .p-card__image--pc {
    display: block;
    width: 50%;
  }
}
.p-card__caption {
  padding: 10% 5% 2%;
  height: 80vw;
  background-color: #3c2b1c;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 600px) {
  .p-card__caption {
    padding: 5%;
    height: 40.5vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-card__caption {
    padding: 4%;
    height: 25.5vw;
  }
}
.p-card__box__ttl {
  font-weight: 700;
  font-size: 4.5vw;
  margin-bottom: 24px;
}
@media screen and (min-width: 600px) {
  .p-card__box__ttl {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-card__box__ttl {
    font-size: 1.6vw;
  }
}
.p-card__box__subtitle {
  font-weight: 700;
  font-size: 4vw;
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .p-card__box__subtitle {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-card__box__subtitle {
    font-size: 1vw;
  }
}
.p-card__box__text {
  height: 20vw;
  overflow: hidden;
  font-size: 3vw;
}
@media screen and (min-width: 600px) {
  .p-card__box__text {
    height: 14vw;
    margin-bottom: 3vw;
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-card__box__text {
    height: 5vw;
    font-size: 1vw;
    line-height: 1.8;
  }
}
.p-card--btn {
  margin: auto;
  font-size: 3.5vw;
}
@media screen and (min-width: 600px) {
  .p-card--btn {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-card--btn {
    font-size: 1vw;
  }
}
.p-card__btn {
  width: 34vw;
  height: 10vw;
  border-radius: 25px;
  font-weight: 700;
  color: #707070;
}
@media screen and (min-width: 600px) {
  .p-card__btn {
    width: 20vw;
    height: 5vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-card__btn {
    width: 15vw;
    height: 4vw;
  }
}

.p-archive__heading {
  font-size: 6vw;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-archive__heading {
    font-size: 4vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-archive__heading {
    font-size: 2vw;
    margin-bottom: 25px;
  }
}
.p-archive__description {
  height: 50vw;
  overflow: hidden;
  font-size: 3vw;
}
@media screen and (min-width: 600px) {
  .p-archive__description {
    height: 14vw;
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-archive__description {
    height: 4vw;
    font-size: 1vw;
    margin-bottom: 70px;
  }
}
.p-archive--inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 600px) {
  .p-archive--inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.p-pager {
  padding: 0 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5vw;
}
@media screen and (min-width: 1080px) {
  .p-pager {
    padding: 0 25%;
    margin-bottom: 1vw;
  }
}
.p-pager--previous, .p-pager--next {
  text-decoration: none;
  position: relative;
  line-height: 1.3;
  font-size: 3vw;
}
@media screen and (min-width: 600px) {
  .p-pager--previous, .p-pager--next {
    display: none;
  }
}
.p-pager--previous::before, .p-pager--next::before {
  display: block;
  font-family: "Font Awesome 5 Free";
  content: "";
  position: absolute;
  left: -80%;
  font-weight: 700;
  font-size: 5vw;
  top: -22%;
}
.p-pager--next::before {
  content: "";
  left: 115%;
}
.p-pager--page {
  display: none;
  text-decoration: none;
  line-height: 2;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-pager--page {
    display: block;
    font-size: 2vw;
    left: -4vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1080px) {
  .p-pager--page {
    font-size: 1vw;
    line-height: 2.5;
  }
}
@media screen and (min-width: 600px) {
  .p-pager--page::before, .p-pager--page::after {
    display: block;
    font-family: "Font Awesome 5 Free";
    content: "";
    position: absolute;
    font-weight: 700;
    font-size: 3vw;
    top: -25%;
    left: 13vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1080px) {
  .p-pager--page::before, .p-pager--page::after {
    top: -36%;
    left: 8vw;
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 600px) {
  .p-pager--page::after {
    content: "";
    left: 70vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1080px) {
  .p-pager--page::after {
    left: 43.5vw;
  }
}
.p-pager--number {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-pager--number {
    display: block;
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1080px) {
  .p-pager--number {
    font-size: 1vw;
  }
}

.p-single {
  margin: 0;
  margin-top: 5vw;
}
.p-single__description {
  height: 25vw;
  overflow: hidden;
  font-size: 3vw;
}
@media screen and (min-width: 600px) {
  .p-single__description {
    height: 14vw;
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-single__description {
    height: 4vw;
    font-size: 1vw;
    margin-bottom: 70px;
  }
}
.p-single--blockquote {
  font-size: 3vw;
}
@media screen and (min-width: 600px) {
  .p-single--blockquote {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-single--blockquote {
    font-size: 1vw;
  }
}
.p-single--description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding-top: 5vw;
}
.p-single__figure {
  width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.p-single__figcaption {
  width: 43vw;
  height: 37vw;
  font-size: 3vw;
}
@media screen and (min-width: 600px) {
  .p-single__figcaption {
    height: 36vw;
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-single__figcaption {
    width: 36vw;
    height: 11vw;
    font-size: 1vw;
  }
}
.p-single--top-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5vw 0;
}
.p-single__image {
  width: 80%;
}
@media screen and (min-width: 1080px) {
  .p-single__image {
    width: 50%;
  }
}
@media screen and (min-width: 600px) {
  .p-single--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1080px) {
  .p-single--items {
    padding-top: 0;
  }
}
.p-single__item {
  padding-bottom: 5vw;
}
@media screen and (min-width: 600px) {
  .p-single__item {
    width: 49%;
    padding-bottom: 1.5vw;
  }
}
@media screen and (min-width: 600px) and (min-width: 1080px) {
  .p-single__item {
    width: 32%;
  }
}
.p-single--list {
  margin: 10vw 0;
  font-size: 3vw;
}
@media screen and (min-width: 600px) {
  .p-single--list {
    margin: 5vw 0;
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-single--list {
    margin: 3vw 0;
    font-size: 1vw;
  }
}
.p-single--list-decimal li {
  list-style-type: decimal;
  list-style-position: inside;
}
.p-single--list-none li {
  list-style-type: none;
}
.p-single--code {
  margin: 5vw 0;
  padding: 0 5vw;
}
.p-single--button {
  padding: 5vw 0;
}
.p-single__btn {
  height: 100px;
  border-radius: 15px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .p-single__btn {
    width: 70%;
  }
}
@media screen and (min-width: 1080px) {
  .p-single__btn {
    width: 35%;
  }
}
.p-single--bolder {
  display: block;
  margin-bottom: 40vw;
}

.p-table {
  width: 100%;
  border-collapse: collapse;
}
.p-table__row {
  height: 75px;
}
.p-table__columnA {
  width: 35%;
  padding-left: 5vw;
}
.p-table__columnB {
  padding-left: 5vw;
}

.p-list--primary {
  margin: 5vw 0;
}
@media screen and (min-width: 600px) {
  .p-list--primary {
    margin: 3vw 0;
  }
}
@media screen and (min-width: 1080px) {
  .p-list--primary {
    margin: 2vw 0;
  }
}
.p-list--secondary {
  margin-left: 5vw;
}
.p-code__box {
  font-size: 3vw;
}
@media screen and (min-width: 600px) {
  .p-code__box {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1080px) {
  .p-code__box {
    font-size: 1vw;
  }
}

.u-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 599.9px) {
  .u-space--content {
    margin-bottom: 8%;
  }
}
@media screen and (min-width: 600px) {
  .u-space--content {
    margin-right: 6%;
  }
}
.u-margin--text {
  margin-top: 1vw;
}
@media screen and (min-width: 600px) {
  .u-margin--text {
    margin-left: 1.5vw;
  }
}
@media screen and (min-width: 1080px) {
  .u-margin--text {
    margin-top: 0.5vw;
  }
}

.u-margin--footer {
  margin-right: 10px;
}

.u-border {
  width: 137px;
  border-right: 3px solid #fff;
}
/*# sourceMappingURL=style.css.map */