@use "../global" as g;

.p-access {
	&__map--sp {
		display: block;
		width: 100%;

		@include g.tab {
			display: none;
		}
		@include g.pc {
			display: none;
		}
	}

	&__map--tab {
		display: none;

		@include g.tab {
			display: block;
			width: 100%;
		}

		@include g.pc {
			display: none;
		}
	}

	&__map--pc {
		display: none;
		@include g.tab {
			display: none;
		}

		@include g.pc {
			display: block;
			width: 100%;
		}
	}

	&__inner {
		padding: 7%;

		@include g.tab {
			padding: 4%;
		}

		@include g.pc {
			padding: 10% 10% 0 10%;
			width: 100%;
		}

		&__ttl {
			padding: 5% 0;
			position: relative;
			margin-bottom: 20px;
			z-index: 0;
			color: #fff;
			font-family: g.$Roboto;
			font-size: g.$sp-access-ttl;

			@include g.tab {
				padding: 0;
				font-size: g.$tab-access-ttl;
			}

			@include g.pc {
				margin-bottom: 60px;
				font-size: g.$pc-access-ttl;
			}

			&::before {
				display: inline-block;
				content: "";
				width: 18vw;
				height: 0.2vh;
				background: #fff;
				position: absolute;
				left: 0;
				bottom: 0;

				@include g.tab {
					width: 9vw;
					bottom: -15px;
				}

				@include g.pc {
					width: 3vw;
					bottom: -35px;
				}
			}
		}

		&__text {
			height: 55vw;
			width: 100%;
			line-height: 2.35;
			overflow: hidden;
			font-size: g.$sp-access-text;
			font-family: g.$Roboto;
			color: #fff;

			@include g.tab {
				height: 32vw;
				font-size: g.$tab-access-text;
			}

			@include g.pc {
				height: 19vw;
				min-height: 150px;
				font-size: g.$pc-access-text;
			}
		}
	}

	&__background {
		height: 50%;
		@include g.tab {
			height: 100%;
		}
		@include g.pc {
			width: 60%;
		}
	}
}
